.productos{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tarjeta-producto{
    width: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    background: var(--white);
    border-radius: 20px;
    margin: 1rem;
}
.tarjeta-producto:hover{
    border: solid;
    cursor: pointer;
}

.titulo-producto{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem;
}

.precio-producto{
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
}